.app {
  padding: 15px;

  &__content {
    padding: 15px;
    margin: 0 auto;

    @include sm {
      max-width: 425px;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

    $menu_item_animation: backInDown;

    &__item {
      .app__menu__item__link {
        & > .menu__icon {
          border: 1px solid #fff;
          transition: ease-in-out all 0.5s;
        }

        & > .menu__text {
          transition: ease-in-out all 0.5s;
        }
      }

      &:hover > .app__menu__item__link {
        & > .menu__icon {
          border: 1px solid $color-blue;
        }

        & > .menu__text {
          font-weight: bold;
        }
      }

      &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &:nth-child(1) {
        animation: $menu_item_animation 1s;
      }

      &:nth-child(2) {
        animation: $menu_item_animation 1.5s;
      }

      &:nth-child(3) {
        animation: $menu_item_animation 2s;
      }

      &:nth-child(4) {
        animation: $menu_item_animation 2.5s;
      }

      .menu__text {
        text-align: center;
        margin-top: 15px;
        font-size: 12px;
      }

      .menu__icon {
        background: rgba(255, 255, 255, 0.6);
        box-shadow: 0 8px 32px 0 #0170fe5e;
        backdrop-filter: blur(4px);
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .text-content {
    animation: zoomInUp 3s;
    margin-top: 40px;
    color: $color-blue;
    line-height: 25px;
    text-align: center;
    font-size: 22px;
  }
}
